@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.widthMenu .btn-menu-logo {
    background-color: transparent;
    border: none;
    margin-top: 1%;
}

.widthMenu .liMenu {
    /* border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.464); */
    list-style: none;
    padding-top: 7px;
    margin-left: -15px;
}

.widthMenu .btn-menu {
    background-color: transparent;
    border: none;
    display: flex;
    direction: row;
    padding-bottom: 18px;
}

.widthMenu .fa-bars {
    margin-left: 7px;
    color: white;
}

.widthMenu .fa-angle-double-down {
    color: rgb(0, 0, 0);
    padding-left: 100px;
}

.widthMenu .fa-file-import {
    margin-left: -4px;
}

.widthMenu .ulMenu {
    background-color: rgba(3, 0, 17, 0.916);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.245);
    border-bottom: 1px solid rgba(255, 255, 255, 0.056);
    border-left: 1px solid rgba(255, 255, 255, 0.056);
    backdrop-filter: blur(10px);

    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 25px;

    width: 205px;
    margin-left: 6px;
    margin-top: 9%;
    padding-top: 10px;
    padding-bottom: 5px;
    position: absolute;
}

.widthMenu {
    width: fit-content;
}

.widthMenu h1 {
    height: 0.1px;
    background-color: rgba(255, 255, 255, 0.20);
    width: 203px;
    margin-left: -32px;
}

.widthMenu .img-logo {
    width: 80px;
}